<?xml version="1.0" encoding="UTF-8"?>
<config>
<feeds>
    <feed>
        <link>http://cn.reuters.com/rssFeed/chinaNews/</link>
        <parser>ReutersParser</parser>
        <nick>ReutersChinaNews</nick>
    </feed>
    <feed>
        <link>http://cn.reuters.com/rssFeed/CNAnalysesNews/</link>
        <parser>ReutersParser</parser>
        <nick>ReutersAnalysis</nick>
        <keywords>
            <keyword>路透早报</keyword>
            <keyword>路透晚报</keyword>
            <keyword>即时观点</keyword>
        </keywords>
    </feed>
    <feed>
        <link>http://cn.reuters.com/rssFeed/CNColumn/</link>
        <parser>ReutersParser</parser>
        <nick>ReutersChinaComment</nick>
    </feed>
    <feed>
        <link>http://feeds.feedburner.com/letscorp/aDmw</link>
        <parser>WallOutsideParser</parser>
        <nick>WallOutside</nick>
        <keywords>
            <keyword>纽约时报</keyword>
            <keyword>华尔街日报</keyword>
            <keyword>安邦经济</keyword>
        </keywords>
    </feed>
    <feed>
        <link>http://www.ftchinese.com/rss/hotstoryby7day</link>
        <parser>FTParser</parser>
        <nick>FT</nick>
    </feed>
</feeds>
</config>
